# vim: syntax=neomuttrc

# Default account
source "~/.config/neomutt/profile.profile1"
set spool_file = "+profile1/INBOX" 

named-mailboxes \
  " profile1" "+profile1/INBOX" \
  "  󰎞 Drafts" "+profile1/Drafts" \
  "  󱡯 Sent Mail" "+profile1/Sent" \
  "   Trash" "+profile1/Deleted"

folder-hook profile1 'source ~/.config/neomutt/profile.profile1'
# Add as many profile as needed
