# vim: syntax=neomuttrc
set real_name = "Profile1"
set from = "profile1@example.com"
set sendmail = "msmtp -a ${from}"
alias me ${real_name} <${from}>
set hostname = "example.com"

set postponed = "+profile1/Drafts"
set trash = "+profile1/Trash"
set record = "+profile1/Sent Mail"
