[diff]
  command = "difft"
  args = [
    "--color",
    "always",
    "--skip-unchanged",
  ]
  pager = "cat"
  exclude = ["scripts", "dirs"]
[data]
{{- $isServer := promptBoolOnce . "isServer" "Is this a server?" true }}
  isServer = {{ $isServer }}
