# vim:ft=zsh
export EDITOR='vi'

# bat
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
# https://github.com/sharkdp/bat/issues/652
export MANROFFOPT="-c"

{{- if and (eq .isServer false) (eq .chezmoi.os "linux") }}
# bemoji
export BEMOJI_PICKER_CMD="fuzzel --dmenu"

# fcitx5
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx

[ "$(tty)" = "/dev/tty1" ] && exec sway
{{- end }}
