# vim:ft=gitconfig
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
  tool = difftastic
	external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[merge]
  tool = nvim
	conflictstyle = diff3
[mergetool "nvim"]
  cmd = "nvim -d -c \"wincmd l\" -c \"wincmd J\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[core]
	editor  = nvim
{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{- end }}
