# modify version of https://github.com/LukeSmithxyz/mutt-wizard
IMAPStore <account1>-remote
Host $imap
Port $iport
User $login
PassCmd "pass $passprefix$fulladdr"
AuthMechs LOGIN
SSLType IMAPS 

MaildirStore <account1>-local
Subfolders Verbatim
Path ~/.local/share/mail/<account1>/
Inbox ~/.local/share/mail/<account1>/INBOX

Channel <account1>
Expunge Both
Far <account1>-remote
Near <account1>-local
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages $maxmes
ExpireUnread no
# End profile
