[database]
path=.local/share/mail/
[user]
primary_email={{ (index .emails 0).email }}
other_email={{ (index .emails 1).email }}
[new]
tags=unread;inbox;
ignore=.mbsyncstate;.uidvalidity
[search]
exclude_tags=deleted;spam;
[maildir]
synchronize_flags=true
